<div class="container overflow-hidden">
    <h2 class="text-center mt-3">PROFILE</h2>
    <div class="row gx-5 my-4">
        <div class="col">
            <div class="p-3 border bg-light">{{candidateData.firstName}} {{candidateData.lastName}}</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">{{candidateData.email}}</div>
        </div>
    </div>

    <div class="row gx-5 my-4">
        <div class="col">
            <div class="p-3 border bg-light">{{candidateData.dateOfBirth}}</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">{{candidateData.mobile}}</div>
        </div>
    </div>

    <div class="row gx-5 my-4" *ngFor="let c of candidateData.qualifications | async">
        <div class="col-2">
            <div class="p-3 border bg-light">{{c.standard}}</div>
        </div>
        <div class="col-4">
            <div class="p-3 border bg-light">{{c.institution}}</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">{{c.stream}}</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">{{c.percentage}}</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">{{c.admissionYear}}</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">{{c.passoutYear}}</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center my-5">
        <a routerLink="/candidate/viewJobs" class="btn bg-success text-light">Apply Jobs</a>
    </div>
    <div class="text-center my-5">
      <a routerLink="/candidate/appliedJobs" class="btn bg-info text-light">View AppliedJobs</a>
  </div>
</div>
