<div class="container">
    <h4 class="text-center my-3">CANDIDATE DETAILS</h4>
    <div class="table-responsive">
        <table class="table table-primary ">
            <thead>
                <tr class="table-danger">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                </tr>
            </thead>
            <tbody *ngFor="let c of candidatesData; let i = index">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{c.firstName}} {{c.lastName}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.dateOfBirth}}</td>
                    <td>{{c.mobile}}</td>
                    <td>{{c.address.city}}</td>
                    <td>{{c.address.state}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div>
        <a class="btn btn-success">Add Candidate</a>
        <a class="btn btn-warning mx-3">Edit Candidate</a>
    </div>
</div>

<div class="container">
    <h4 class="text-center my-3">EMPLOYER DETAILS</h4>
    <div class="table-responsive">
        <table class="table table-secondary ">
            <thead>
                <tr class="table-success">
                    <th scope="col">#</th>
                    <th scope="col">Organization Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">No Of Openings</th>
                </tr>
            </thead>
            <tbody *ngFor="let c of employersData; let i = index">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{c.organizationName }}</td>
                    <td>{{c.address.city}}, {{c.address.state}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.jobs.length}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="container d-flex">
    <div>
        <a class="btn btn-success" routerLink="/admin/employer/add">Add Employer</a>
        <a class="btn btn-warning mx-3">Edit Employer</a>
    </div>
</div>