<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3>EMPLOYER PROFILE</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <strong>Organization Name:</strong> {{ employer.organizationName }}
                    </div>
                    <div class="mb-3">
                        <strong>Email:</strong> {{ employer.email }}
                    </div>
                    <div class="mb-3">
                        <strong>Address:</strong> {{ employer.address.street }}, {{ employer.address.city }}, {{
                        employer.address.state }}, {{ employer.address.country }} - {{ employer.address.pincode }}
                    </div>
                    <hr>
                    <div class="text-center mt-4">
                        <button class="btn btn-success mx-5" routerLink="/employer/create/job">Add New Job</button>
                        <button class="btn btn-warning mx-5" routerLink="/employer/view/appliedJobs">View AppliedJobs</button>
                    </div>
                    <hr>
                    <h4 class="mb-3">Jobs Posted</h4>
                    <ul class="list-group">
                        <li class="list-group-item my-2" *ngFor="let job of employer.jobs">
                            <div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="mb-0"><strong>{{ job.jobTitle }}</strong></p>
                                        <small class="text-muted">{{ job.description }}</small>
                                    </div>
                                    <div>
                                        <span class="badge bg-info">{{ job.status }}</span>
                                        <span class="badge bg-success mx-3"> {{ job.noOfVacancy }}</span>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <h5 class="mb-0"><strong>Location:</strong> {{ job.jobLocation }}</h5>
                                    <h5 class="mb-0"><strong>Salary:</strong> {{ job.salary }}</h5>
                                </div>
                            </div>
                        </li>
                        <li *ngIf="employer.jobs.length === 0" class="list-group-item">No jobs posted yet.</li>
                    </ul>
                    <!-- <div class="text-center mt-4">
                        <button class="btn btn-success" routerLink="/employer/create/job">Add Job</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>