<div class="mx-5 mt-3">
  <button backButton class="btn btn-primary mx-5">BACK</button>
</div>
<div class="container mt-0">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h3>Add New Job</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="jobTitle" class="form-label">Job Title</label>
                <input type="text" class="form-control" id="jobTitle" name="jobTitle" [(ngModel)]="newJob.jobTitle" required>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" [(ngModel)]="newJob.description" required></textarea>
              </div>
              <div class="mb-3">
                <label for="jobType" class="form-label">Job Type</label>
                <select class="form-select" id="jobType" name="jobType" [(ngModel)]="newJob.jobType" required>
                  <option value="Full-time">Full-time</option>
                  <option value="Part-time">Part-time</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="jobLocation" class="form-label">Job Location</label>
                <input type="text" class="form-control" id="jobLocation" name="jobLocation" [(ngModel)]="newJob.jobLocation" required>
              </div>
              <div class="mb-3">
                <label for="salary" class="form-label">Salary</label>
                <input type="number" class="form-control" id="salary" name="salary" [(ngModel)]="newJob.salary" required>
              </div>
              <div class="mb-3">
                <label for="noOfVacancy" class="form-label">Number of Vacancies</label>
                <input type="number" class="form-control" id="noOfVacancy" name="noOfVacancy" [(ngModel)]="newJob.noOfVacancy" required>
              </div>
              <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="status" name="status" [(ngModel)]="newJob.status">
                  <label class="form-check-label" for="status">Active</label>
                </div>
              </div>
              <div class="text-center mt-4">
                <button type="button" class="btn btn-success" (click)="addJob()">Add Job</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  