<div>
  <div class="container">
    <h2 class="text-center my-3 text-danger">AVAILABLE JOBS</h2>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let job of allJobs; let i = index">
        <div class="card">
          <div class="card-body">
            <p class="card-title"><strong>{{ job.jobTitle }}</strong></p>
            <p class="card-text">{{ job.description }}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Location:</strong> {{ job.jobLocation }}</li>
              <li class="list-group-item"><strong>Salary:</strong> {{ job.salary }}</li>
              <li class="list-group-item"><strong>Vacancy:</strong><span class="badge bg-warning mx-1">{{
                  job.noOfVacancy }}</span></li>

            </ul>
            <!-- <button class="btn btn-primary mt-3" (click)="applyJob(job.jobId)">Apply</button> -->
            <button class="btn btn-primary mt-3" [disabled]="isJobAlreadyApplied(job.jobId)" (click)="applyJob(job.jobId)">
              Apply
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>